

<div class="ui-g">
  <div class="ui-g-4">
  </div>
  <div class="ui-g-4">
    <div class="ui-g-4">
      <br/>
      <br/>
<app-chattwo [messSub2]="dada" (send2)=" translateMesage($event)"></app-chattwo>
    </div>
    <div class="ui-g-4">
    <p>chat</p>
    </div>
  <div class="ui-g-4">
    <br/>
    <br/>
<app-chatthree [messub1]="dada" (send1)="translateMesage($event)"></app-chatthree>
  </div>
  <div class="ui-g-4">
 </div>
