<meta charset="utf-8" />
<body dir="rtl" >
<div class="ui-g">
<div class="ui-g-3">
  <button pButton  label="منو" ></button>
  <br/>
  <br/>
  <br/>
  <button pButton type="button" label="مدیریت کارمندان" (click)="navigateToVasetComponent()"></button>
  <br/>
  <br/>
  <br/>

  <button pButton type="button" label="چت" (click)="navegatToChat()" ></button>
    <br/>
    <br/>

  </div>
  <div class="ui-g-3">
  </div>
  <div class="ui-g-3">
  </div>
  <div class="ui-g-3">
  </div>
</div>


<router-outlet></router-outlet>

