<meta charset="utf-8"/>
<button dir="rtl">
<p>لیست کارمندان</p>
  <br/>
  <br/>
<button pButton label="ثبت کارمند جدید" (click)="navigateToFormsabtenamComponent()"></button>
<br/>
<br/>
<br/>
<body dir="ltr" >
<p-table [value]="list">
  <ng-template pTemplate="header">
    <tr>
      <th>شماره</th>
      <th>نام</th>
      <th>حقوق</th>
      <th>سن</th>
      <th>پروفایل</th>
      <th>حذف</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-list>
    <tr>
      <td>{{list.id}}</td>
      <td>{{list.employee_name}}</td>
      <td>{{list.employee_salary}}</td>
      <td>{{list.employee_age}}</td>
      <td>{{list.profile_image}}</td>
      <td><button pButton label="delete" (click)="delete(list.id)" ></button></td>
    </tr>
  </ng-template>
</p-table>
