<meta charset="utf-8"/>
<body dir="rtl" >

<div>
<h2>
       <p>formsabtenam</p>
       <br />

     شماره
    : <input id="fnInput" name="fnInput" type="number" [(ngModel)]="moshakhasat.id">
       <br />
       <br/>
     نام خانوادگی
    : <input id="lnInput" name="lnInput" type="text" [(ngModel)]="moshakhasat.name">
       <br />
       <br />
     حقوق
    :<input id="ageInput" name="ageInput" type="number" [(ngModel)]="moshakhasat.salary">
       <br />
       <br />
     سن
    : <input id="hoInput" name="lnInput" type="number" [(ngModel)]="moshakhasat.age">
        <br/>
        <br/>
     <input type="button" id="sabt" value="ثبت" (click)=" navigateToMenuComponent() " />
        <br/>
        <br/>
</h2>
</div>






